@import "tailwindcss";

@theme {
    --font-standard: Poppins, sans-serif;

    --color-main: #4F5955;
    --color-body: #535656;
    --color-note: #9C9EA6;
    --color-white-100: #FFFFFF;
    --color-white-200: #EAEAEA;
    --color-white-300: #F7F7F7;
    --color-gray-100: #EBEBEB;
    --color-sub-100: #F2EDDC;
    --color-sub-300: #D9C3A9;
    --color-pink: #FF00DC;
    --color-footer: #0E0E0E;
}

body {
    @apply font-standard text-main;
}

.rte h3 {
    @apply text-[2.5rem] font-bold text-main;
}

.current a {
     @apply text-sub-300;
}