@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-standard: Poppins, sans-serif;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    --clr-main: #4F5955;
    --clr-white-100: #FFFFFF;
    --clr-white-200: #EAEAEA;
    --clr-white-300: #F7F7F7;

    --clr-sub-100: #F2EDDC;
    --clr-sub-300: #D9C3A9;
}

body {
    font-family: var(--font-standard);
    color: var(--clr-main);
}

.rte h3 {
    font-size: 2.5rem;
    color: var(--clr-main);
    font-weight: var(--font-bold);
}